body {
  font-family: Helvetica, sans-serif;
  background-color: white;
  color: black;
  transition: 0s;
  font-size: 1.2em;
}
/* home */
.space {
  padding-top: 30vh;
}
.home-container {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/house.gif");
  position:fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  text-align: center;
}
.menu {
  display: inline-block;
  position: center;
 }
 .menu-link {  
  display: inline-block;
  letter-spacing:0.6em;
  text-decoration: none;
  color: black;
 }
 .menu-link:visited {
  text-decoration: underline;
 }
 .menu-link:hover {
  transition: 0.7s;
   color: red;
}
.home-menu-link {
  padding-right: 1.8em;
  padding-left: 1.8em;
}
.logo-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 17em;
}
.house {
  visibility: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 14em;
  margin-top: 1em;
}
.socials-home {
  /* width: 50%; */
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.socials-home i {
  color: black;
  font-size: 1.5em !important;
  width: 20% !important;
}
@media only screen and (max-width: 768px) {
  /* Home for mobile phones: */
  .space {
    padding-top: 15vw;
  }
.home-menu {
  margin-top: 0em;
}
.home-menu-link {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    padding-top: 0.13em;
    padding-right: 0em;
    padding-left: 0em;
  }
  .socials-home {
    margin-top: 55vh;
  }
 }

/* nav */
.nav {
  background-color: white;
  display: inline-block;
  position: fixed;
  margin: 2em 0em 0em 2em;
}
.logo-nav {
  display: block;
  max-width: 11em;
}
.nav-menu-link {
  display: block;  
  padding-left: 2em;
}
.nav-menu-link p {
  margin: 0;
  margin-left: -0.3em;
}
.sub-menu {
  font-size: 0.7em;
margin-left: 3em;
margin-top: 0.2em;
letter-spacing:0.3em;
  }
.sub-menu-mobile {
  display:none;
}
.sub-link-mobile {
  display:none;
}
.sub-link {
  padding: 0.1em;
}
.bold-title {
  color: red !important;
}
@media only screen and (max-width: 768px) {
  /* Nav for mobile phones: */
  .sub-menu {
    display:none;
    margin-left: 0em;
    margin-top: 0em;
    /* padding-left: 0.5em */
  }
  .sub-link {
    display: none;
  }
  .nav {
  display: block;
  position: static;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
}
.logo-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
.nav-menu {
  width: 100%;
}
.nav-menu-link{
  display: inline-block;
  padding-left: 0.5em;
  width: 30%;
}
.nav-menu-link p {
margin-left: 0em;
text-align: center;
margin-bottom: 2em;
}
.sub-menu-mobile {
  display: block;
}
.sub-link-mobile {
  padding-top: 0.5em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
}
/* info */
.info {
  display: block;
  font-size: 1em;
  padding-top: 15em;
  padding-right: 3em;
  letter-spacing: 0.3em;
}
.info-text {
 width: 40%;
 text-align: justify;
}
.socials {
  display: block;
  text-align: center;
  width: 40%;
}
.socials i {
  font-size: 2em;
  text-align: center;
  width: 30%;
  transition-duration: 0.3s;
  color: black;
}
.socials i:visited {
  color: black;
}
.socials i:hover {
  color: red;
}
@media only screen  and (max-width: 768px) {
  /* Info for mobile phones: */
  .info {
    font-size: 1em;
    padding-top: 2em;
    padding-right: 0em;
    letter-spacing: 0.3em;
  }
  .info-text {
  width: 80%;
  margin: auto;
  margin-bottom: 3em;
   }
   .socials {
     width: 100%;
     margin: auto;
     margin-bottom: 0rem
   }
} 
/* edit and unit */
.video-div {                                          
  display: block;
  padding-top: 7.7em;
  padding-right: 3em;
  color: black;
}
.video-div h1 {
  letter-spacing:0.3em;
  font-weight: normal;
  margin-left: auto;
  text-decoration: none;
  font-size: 1em;
}
.video-div p {
  letter-spacing:0.17em;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 0.85em;
}
.video {
  display: block;
  width: 50vw;
  height: 100vw;
 margin: -35vw 0  -35vw 0;
}

@media only screen and (max-width: 768px) {
  /* Edit/nav for mobile phones: */
.video-div {
  text-align: center;
  left: auto;
  right: auto;
  padding-top: 4em;
  padding-right: 0em;
}
  .video-div h1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    text-align: left;
    width: 45%;
  }
  .video-date {
display: inline-block;
text-align:right;
margin-left: auto;
margin-right: auto;
width: 45%;
  }
  .video {
    display: block;
    width: 100%;
  margin: 0;
  margin: 0;
  }
.video-info {
  display:block;
  width: 100%;
  text-align: center;
}
}