body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.space {
  padding: 6.5em;
}
.home-container {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/house.gif");
  position:fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  text-align: center;
}
.menu {
  display: inline-block;
  padding-left: 2.7em;
 }
 .menu p {  
  display: inline-block;
  padding-right: 1.8em;
  padding-top: 2em;
  color: white;
  letter-spacing:0.6em;
  transition-duration: 0.4s;
 }
 .menu p:visited {
  text-decoration: underline;
 }
 .menu p:hover {
   color: red;
}
.logo-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 17em;
}
.house {
  visibility: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 14em;
  margin-top: 1em;
}
/* nav */
.nav {
  background-color: black;
  display: inline-block;
  position: fixed;
  margin: 2em 0em 0em 2em;
}
.logo-nav {
  display: block;
  max-width: 11em;
}

.nav-menu p {
  display: block;
  width: 30%;
  margin: 0;
  margin-left: -0.3em;
}
.menu-link {
  margin-left: 0;
text-decoration: none;
font-size: 1em;
color: white;
transition: 0.4s;
}
.menu-link:hover {
color:red;
  }
  
.sub-menu {
  font-size: 0.7em;
margin-left: 3em;
padding: 0.2em;
letter-spacing:0.3em;
  }
.bold-title {
  color: red !important;
}
/* info */
.info {
  font-size: 1em;
  display:fixed;
  text-align: justify;
  max-width: 500px;
  min-width: 380px;
  padding-top: 20%;
  margin-left: 60%;
  margin-right: 5%;
  line-height: 3em;
  letter-spacing: 0.3em;
}

.socials {
  display: block;
  text-align: center;
}
.socials i {
  font-size: 2em;
  text-align: left;
  margin-right: 20%;
  transition-duration: 0.3s;
  color: white;
}

.socials i:visited {
  color: white;
}
.socials i:hover {
  color: red;
}
/* edit and unit */
.video-div {
  display: block;
  padding-right: 5%;
}
.video-div h1 {
  letter-spacing:0.3em;
  font-weight: lighter;
  margin-left: 0;
  text-decoration: none;
  font-size: 1em;
  color: white;
}
.video {
width: 800px;
height: 502px;
}