body {
  font-family: Helvetica, sans-serif;
  color: black;
}
.home-container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
.homeBar {
  text-align: center;
}
.subtitle {
  display: inline-block;
  padding-right: 1em;
  margin-top: 0em;
}